<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <style th:replace="~{fragments/layout :: styles}"></style>
</head>
<body>
<h1>Login</h1>

<div th:if="${param.error}" class="errors">
    Invalid username or password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" autofocus="autofocus"/>

    <label for="password">Password</label>
    <input type="password" id="password" name="password"/>

    <p><button class="btn btn-primary" type="submit">Sign in</button></p>
</form>
</body>
</html>